#Cargo.lock
/target/
/.flatpak/
/vendor
/build/
/.flatpak-builder
/tmp
/repo
/builddir
cargo-sources.json
/tiny_daemon/target/
__pycache__/
.vscode
/tiny_daemon/Cargo.lock
.cargo
data/schemas/gschemas.compiled
/po/*.mo
.weblate
/data/applications/io.github.plrigaux.sysd-manager.desktop