[Desktop Entry]
Name=Sysd Manager
Icon=preferences-system
Exec=sysd-manager
Terminal=false
Type=Application
Icon=io.github.plrigaux.sysd-manager
StartupNotify=true
Categories=GNOME;GTK;System;
Keywords=Systemd;Systemctl;Services;