<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "https://specifications.freedesktop.org/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
    <action id="org.freedesktop.policykit.pkexec.sysd-manager">
        <description>Run Systemd SysD-Manager</description>
        <message>Authentication is required to modify systemd services</message>
        <icon_name>system-run-symbolic</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/sysd-manager</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
       <!--  <annotate key="org.freedesktop.policykit.exec.argv1">tiny_daemon.service</annotate> -->
    </action>
    <action id="org.freedesktop.policykit.pkexec.env">
        <description>Run Systemd SysD-Manager</description>
        <message>Authentication is required to modify systemd services</message>
        <icon_name>system-run-symbolic</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/env</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
       <!--  <annotate key="org.freedesktop.policykit.exec.argv1">tiny_daemon.service</annotate> -->
    </action>
</policyconfig>