/*
https://developer.gnome.org/hig/reference/palette.html

*/
label.unit_info {
    font-family: 'Droid Sans Mono', 'monospace', monospace;
}

label.journal_prefix {
    font-family: 'Droid Sans Mono', 'monospace', monospace;
}

label.journal_message {
    font-family: 'Droid Sans Mono', 'monospace', monospace;
}

label.idx {
    color: #888888;
}

textview {
    font-family: 'Fira Code', 'Droid Sans Mono', monospace;
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

buttoncontent.nav box label {
    font-weight: normal;
}

.bottom_sidebar {
    background-color: var(--sidebar-backdrop-color);
    color: var(--sidebar-fg-color);
}