/*
https://developer.gnome.org/hig/reference/palette.html

*/
label.unit_info {
    font-family: 'Droid Sans Mono', 'monospace', monospace;
}

label.journal_prefix {
    font-family: 'Droid Sans Mono', 'monospace', monospace;
}

label.journal_message {
    font-family: 'Droid Sans Mono', 'monospace', monospace;
}

.mono {
    font-family: monospace;
}

label.idx {
    color: #888888;
}

textview {
    font-family: 'Fira Code', 'Droid Sans Mono', monospace;
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

buttoncontent.nav box label {
    font-weight: normal;
}

.bottom_sidebar {
    background-color: var(--sidebar-backdrop-color);
    color: var(--sidebar-fg-color);
}

/*Hack to have a separator between navigator button */
.separator button:not(:first-child) {
    border-left: 1px solid var(--border-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.separator button:checked {
    border-left: none;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.separator button:checked+button {
    border-left: none;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}